<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server/src/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /build folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="build/client{REQUEST_URI}" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server/src/server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Increase the default timeout for node processing -->
    <iisnode 
      nodeProcessCommandLine="node"
      watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade;middleware\*.js"
      loggingEnabled="true"
      debuggingEnabled="false"
      maxConcurrentRequestsPerProcess="1024" />
  </system.webServer>
</configuration>
